{% extends 'base.html.twig' %}

{% block title 'homePageShow' %}

{% block body %}

	<div class="jumbotron text-center btn-secondary">
		<h1>
			bienvenue sur la homePageShow !
		</h1>

		<p>
			Trouver vos biens parmis les propriétés ajoutées recement !
		</p>
	</div>

	<div class="container">
		<h2>Les derniers biens</h2>

		<div class="row flex">
			{% for property in properties %}
				<div class="col-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{ path("property.show", {id: property.id, slug: property.slug }) }}">{{ property.title }}</a>
								<p class="card-text">
									{{ property.city }},
									{{ property.postalCode }}
								</p>
								<div class="text-primary" style="font-weight:bold;font-size:22px;">
									{{ property.getFormattedPrice }}
									€
								</div>
							</h5>
						</div>
					</div>
				</div>
			{% endfor %}


		</div>

	</div>

{% endblock %}
